<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.codealizer.thegradebook">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Default">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Sign in"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Default.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".ui.classbook.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Default.NoActionBar" />
        <activity
            android:name=".ui.classbook.CourseDetailsActivity"
            android:label="@string/title_activity_course_details"
            android:parentActivityName=".ui.classbook.MainActivity"
            android:theme="@style/AppTheme.Default.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.classbook.MainActivity" />
        </activity>
        <activity
            android:name=".ui.classbook.GradesActivity"
            android:label="@string/title_activity_grades"
            android:parentActivityName=".ui.classbook.CourseDetailsActivity"
            android:theme="@style/AppTheme.Default.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.classbook.CourseDetailsActivity" />
        </activity>
        <activity
            android:name=".ui.classbook.EBRGradesActivity"
            android:label="@string/title_activity_grades"
            android:parentActivityName=".ui.classbook.GradesActivity"
            android:theme="@style/AppTheme.Default.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.classbook.GradesActivity" />
        </activity>
        <activity
            android:name=".ui.login.DistrictSearchActivity"
            android:label="District Search"
            android:parentActivityName=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.Default">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.login.LoginActivity" />
        </activity>

        <receiver
            android:name=".assets.UpdateResultReciever"
            android:process=":remote" />

        <receiver android:name=".assets.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".assets.UpdateService"
            android:exported="false" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.Default" />
    </application>

</manifest>